.banner{
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    max-height: 500px;
}

.banner img{
    width: 100%;
    max-height: 500px;
}

.banner button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #56A2CE;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;;
}


@media (max-width: 425px) {
    .banner img{
        width: auto;
        position: relative;
        right: 70%;
    }
    .banner{
        overflow: hidden;
    }

}