.paginas {
    display: flex;
    justify-content: center;
}

.paginas ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.paginas ul li {
    margin: 0 5px; 
}

.paginas ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
}
.paginas ul li a:hover {
    background-color: #f7f7f7;

}

.paginas ul li a.selected {
    text-decoration: underline;
    font-weight: bold;
    background-color: #f7f7f7;
}
